# Project Rules

## Execution Environment

- **Always** use `uv run` to execute Python commands, scripts, modules or tests.
- Do NOT use `python` or `python3` directly as there is no active global or local shell environment activated.


