__pycache__/
.pytest_cache/
.mypy_cache/
.venv/
env/
venv/
*.pyc
*.pyo
*.db
*.sqlite
*.sqlite3
/.coverage
/dist/
/build/
/exports/
/var/
/.DS_Store
build/*
goal_bot.egg-info/*
**/__pycache__/**
whatsapp-client/.wwebjs_auth/**
whatsapp-client/node_modules/**
whatsapp-client/.wwebjs_cache/**
whatsapp-client/package-lock.json
git_token_server